<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<!-- 위젯 제목에 쓰는 시안 서체(Wanted Sans, SIL OFL 1.1).
	     앱 본체는 Pretendard 라 여기에만 싣는다 -->
	<key>UIAppFonts</key>
	<array>
		<string>WantedSansStd-Bold.otf</string>
	</array>
</dict>
</plist>
